.name{
    color: azure;
}

.value{
    color: azure;
}

.bio {
    color: azure;
}


.genre-bio {
    margin-bottom: 20px;
}

.genre-name {
    margin-bottom: 20px;
}

.genre-view{
    margin-top: 30px;
}